<h2>Создай свой пост:</h2>
<br>
<form action="/new" method="POST" >
	<textarea class="form-control" rows="6" placeholder="Введите текст"></textarea>
	<br>
	<button type="submit" class="btn btn-primary">Отправить</button>
</form>
